.buttons {
    display: inline-block;
    margin-top: 0.5rem;
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 0.7rem;
    background: #d07a7a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttons:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 rgba(36, 31, 33, 255);
}
